
%p
  = render :partial => "barclamp/node_selector"

:javascript
  $(document).ready(function(){
    var constraints = { 
      "cinder-server": { "unique": false, "count": 3, "admin":false } 
    };
    node_selector($('#drag_drop'), constraints);
  });

